# default settings for sessions
[DEFAULT]
FileStorePath=store
FileLogPath=log
ConnectionType=initiator
ReconnectInterval=60
SenderCompID=SABERIN
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y

[SESSION]
BeginString=FIX.4.2
TargetCompID=ACCEPTOR
StartTime=01:00:00
EndTime=23:00:000
# overide default setting for RecconnectInterval
ReconnectInterval=30
HeartBtInt=30
SocketConnectPort=5001
SocketConnectHost=127.0.0.1
# (optional) alternate connection ports and hosts to cycle through on failover
#SocketConnectPort1=8392
#SocketConnectHost1=8.8.8.8
#SocketConnectPort2=2932
#SocketConnectHost2=12.12.12.12
DataDictionary=..\..\spec\fix\FIX42.xml
